* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
/* Colores predeterminados */
:root { 
    --white-color: white;
    --blue--color: #0080bd;
    --shadow-black: rgba(14, 12, 28, 0.5);
}

h1 {
    font-size: 8rem;
    margin-top: 2rem;
    color: var(--white-color);
}
h2 {
    font-size: 5rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.8rem;
}

/******************** Header *************************/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    gap: 50px;
}

.header h1, .header p {
    padding-left: 2rem;
}

.header p {
    max-width: 50%;
    color: var(--white-color);
    font-size: 2.3rem;
}

.header__container-img {
    display: flex;
    justify-content: center;
}
.header__container-img__img {
    width: 4rem;
}

/* Se agregan cambios de estilo hasta pantalla de maximo 576 px o sea pantallas de telefono */
@media (max-width: 575.98px) { 
    h1 {
        font-size: 6rem;
    }
    p {
        font-size: 1.6rem;
    }
    .header p {
        max-width: 100%;
        }

}
/* Se agregan cambios de estilo hasta pantallas máxima de 991. Osea de pantallas de tipo tablet. */
@media (max-width: 991.98px) { 
    .header {
        height: 70vh;
    }

 }

/***************************** Main ***********************************/

.main__animations {
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
 }

.main__animations h2 {
    text-align: center;
    margin-top: 10rem;
}
.main__filtersAndCount {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;
}
/* falta posicionarlo correctamente en pantallas pequeñas */
.filters {
    display: flex;
    justify-content: flex-end;
    gap: 0px 10px;
    
}

.filters select {
    width: 90px;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
}

select option {
    font-size: 16px;
}
.animations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 50px;
}
.animations__card {
    width: 300px;
    /* height:450px; */
    height: 480px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px var(--shadow-black);
    /* ease-in-out: Comienza lentamente, será más rápido en la mitad de la animación y luego terminará lentamente. */
    transition: .3s ease-in-out;
    text-align: center;
}
.animations__card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.animations__card__img {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
    
}
.animations__card h4 {
    padding: 15px;
}
.animations__card p {
    padding: 0 10px;
}
.animations__card .black{
    font-weight: bold;
    font-size: 1.8rem;
}

@media (max-width: 575.98px) { 
    .filters {
        width: 50%;
        justify-content: center;
        margin-top: 30px;
    }

}

/*************************** Footer ***************************/

footer {
    width: 100%;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    background-color: var(--blue--color);
    color: var(--white-color);
}



/* Peliculas */

.movie__header {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: var(--blue--color);
    text-align: center;
}

.movie__container{
    display: flex;
    flex-wrap: wrap;
}

.movie__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--blue--color);
    flex: 300px;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 0;
}

@media (max-width: 575.98px) { 
    .movie__sidebar {
        display: none;
    }

}
.movie__sidebar__img {
    width: 25em;
    height: 20em;
    margin: 50px 0px;
}
.movie__tab {
    display: flex;
    flex: 70%;
    /* background-color: blue; */
}

.movie__description, .movie__characters, .movie__others {
    width: 33.3%;
    height: 50px;
    border: 1px solid black;
    background-color: yellow;
}
