* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 9px;
    font-family: 'Didact Gothic', sans-serif;
}
/* Colores predeterminados */
:root { 
    --white-color: white;
    --blue--color: #0080bd;
    --bluedark--color: #006492;
    --shadow-black: rgba(14, 12, 28, 0.5);
}
a{
    text-decoration: none;
}

h1 {
    font-size: 15rem;
    color: var(--white-color);
}
h2{
    font-size: 5rem;
}

h4 {
    font-size: 2rem;
}
p {
    font-size: 1.8rem;
}

/******************** Header *************************/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    gap: 50px;
}
.header h1, .header p {
    padding-left: 5rem;
}

.header p {
    max-width: 50%;
    color: var(--white-color);
    font-size: 2.3rem;
}

.header__container-img {
    display: flex;
    justify-content: center;
}
.header__container-img__img {
    width: 14rem;
    transition: .3s ease-in-out;
}
.header__container-img__img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Se agregan cambios de estilo hasta pantalla de maximo 576 px o sea pantallas de telefono */
@media (max-width: 575.98px) { 
    h1 {
        font-size: 6rem;
    }
    p {
        font-size: 1.6rem;
    }
    .header p {
        max-width: 100%;
        }

}
/* Se agregan cambios de estilo hasta pantallas máxima de 991. Osea de pantallas de tipo tablet. */
@media (max-width: 991.98px) { 
    .header {
        height: 70vh;
    }

 }

/***************************** Main ***********************************/

.main__animations {
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
 }

.main__animations h2 {
    text-align: center;
    margin-top: 10rem;
}
.main__filtersAndCount {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;
    vertical-align: center;
}
/* contador*/
#countFilms{
    font-size: 18px;
}
/* falta posicionarlo correctamente en pantallas pequeñas */
.filters {
    display: flex;
    justify-content: flex-end;
    gap: 0px 10px;
}
.filters select {
    width: 95px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
}
select option {
    font-size: 16px;
}
.animations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 50px;
}
.animations__card {
    width: 300px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px var(--shadow-black);
    /* ease-in-out: Comienza lentamente, será más rápido en la mitad de la animación y luego terminará lentamente. */
    transition: .3s ease-in-out;
    text-align: center;
}
.animations__card:hover  {
    cursor: pointer;
    transform: scale(1.05);
}
.animations__card__img {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
    
}
.animations__card h4 {
    padding: 15px;
}
.animations__card p {
    padding: 0 10px;
}
.animations__card .black{
    font-weight: bold;
    font-size: 1.8rem;
}

@media (max-width: 575.98px) { 
    .filters {
        width: 50%;
        justify-content: center;
        margin-top: 30px;
    }

}

/*************************** Footer ***************************/

footer {
    width: 100%;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    background-color: var(--blue--color);
    color: var(--white-color);
}



/***************** Página peliculas Peliculas ***********************/

.movie__header {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: var(--blue--color);
    text-align: center;
    padding: 10px 0;
}

.movie__header__h1{
    font-size: 6rem;
    color: var(--white-color);
}

.movie__container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
}

.movie__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid var(--blue--color);
    margin: 30px 0;
    flex: 300px;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 0;
}

@media (max-width: 1000px) { 
    .movie__sidebar {
        display: none;
    }

}
.movie__sidebar h4{
    font-size: 3em;
}
.movie__sidebar .black{
    font-weight: bold;
    font-size: 1.8rem;
}
.movie__sidebar__img {
    width: 30em;
    margin: 20px 0px;
}
.movie__sidebar__button{
    background-color: var(--blue--color);
    color: var(--white-color);
    box-shadow: 0px 1px 10px var(--shadow-black);
    font-size: 1.8rem;
    border-radius: 30px;
    padding: 5px 25px;
    margin-top: 30px;
    font-size: 20px;
}
.movie__sidebar__button:hover{
    background-color: var(--bluedark--color);
}
.movie__mainContent{
    display: flex;
    flex: 70%;
    flex-direction: column; 
}
.movie__mainContent__tab {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin: 30px;
    border-bottom: 4px var(--blue--color) solid;
}
.movie__mainContent .li{
    font-size: 20px;
    color: black;
    background-color: var(--white-color);
    border-top: 2px var(--blue--color) solid;
    border-left: 2px var(--blue--color) solid;
    border-right: 2px var(--blue--color) solid;
    border-radius: 15px 15px 0 0;
    text-decoration: none;
    padding: 10px 30px;
    transition: all .5s ease;
    cursor: pointer;
    vertical-align: center;
}

.movie__mainContent .li.active{
    background-color: var(--blue--color);
    color: var(--white-color);
}
.movie__mainContent .movie__mainContent__bloques {
    position: relative;
}
.movie__mainContent__bloques{
    min-height: 30vh;
    width: 100%;
}
.movie__mainContent .block {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
}
.movie__mainContent .block.active {
    opacity: 1;
}
#movie__mainContent__bloques__description{
    margin: 0 40px;
}
.movie__mainContent__filterAndCount {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    margin-right: 78px;
}

@media (max-width: 575.98px) { 
    .movie__mainContent__filterAndCount {
        justify-content:center;
        margin-right: 0px;
    }
    .movie__header {
        height: 200px;
    }
    .movie__header__h1 {
        text-align: center;
        font-size: 5rem;
        margin-top: 50px;
    }
    .movie__mainContent__tab {
       justify-content: center;
        margin: 20px 0;
    }
    .movie__mainContent .li{
        padding: 0;
    }
    
    
}
@media (max-width: 1025px) { 
    .movie__sidebar {
        display: none;
    }
    
}

/****************** Sección Personajes  **********************/

.movie__mainContent__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px 0px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.movie__mainContent__card div {
    width: 30rem;
}
.movie__mainContent__card img {
    width: 100%;
    height: 25rem;
    border-radius: 8px;
    box-shadow: 0px 1px 10px var(--shadow-black);
    transition: .3s ease-in-out;
    
}

.movie__mainContent__card img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/****************** Sección vehiculos  **********************/